@section Scripts
{
    <script type="module" src="~/js/checkout.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
}

@model Codecool.CodecoolShop.Models.CheckoutViewModel

<from method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-6">
                    <i class="fa fa-shopping-cart"></i> &nbsp; Order summary
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-outline-info btn-sm">Back to Cart</a>
                </div>
            </div>

            <div class="card-body">

                <div class="d-flex">
                    <div class="container rounded p-2">
                        <div class="row">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Pickup Details: </span>
                            </h4>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>Full Name</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.Name" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>Phone</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.PhoneNumber" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>City</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.City" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>State</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.State" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>Address</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.Address" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label>Postal code</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="User.PostalCode" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-info">Order Summary</span>
                        </h4>

                        <ul class="list-group mb-3">
                            @foreach (var item in Model.CheckoutItems)
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6 class="my-0">@item.Product.Name</h6>
                                        <small class="text-muted">Quantity: @item.Quantity</small>
                                    </div>
                                    <span class="text-muted">$@item.Sum</span>
                                </li>
                            }

                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <small class="text-info">Total (usd)</small>
                                <strong class="text-info">@Model.FinalPrice</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-8 pt-2">
                            <p style="font-size: 14px">Estimated arrival Date: @DateTime.Now.AddDays(3).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <button type="submit" value="Place Order" class="btn btn-success form-control">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>

<form id="payment-form">
    <div id="stripe-card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="stripe-submit-button">
        <div class="stripe-spinner hidden" id="stripe-spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>