@using Microsoft.Extensions.Options
@inject IOptions<Codecool.CodecoolShop.Data.StripeSettings> Stripe

@section Scripts
{
    <script type="module" src="~/js/checkout.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
}

@model Codecool.CodecoolShop.Models.CheckoutViewModel

<h1>Succes</h1>

<div id="items">

    @foreach (var product in Model.CheckoutItems)
    {
        <article class="product">
            <div class="img-container">
                <img src="../../img/@(product.Product.Name).jpg" alt="product" class="product-img" />
            </div>
            <h3>@product.Product.Name</h3>
            <h3>@product.Quantity</h3>
            <h3>Sum: @product.Sum</h3>
            <h4>@product.Product.DefaultPrice.ToString("C2")</h4>
        </article>
    }

    <h2>
        @Model.Total
</h2>
</div>


<form id="payment-form">
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>